<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

    <title>My page title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet"
        type="text/css">
    <link rel="stylesheet" href="leaderboard.css">
    </head>

    <body>
        <header>
            <h1>Top Scores</h1>
        </header>
        <div>
            <ol>
                <li>One</li>
                <li>Two</li>
                <li>Three</li>
                <li>Four</li>
                <li>Five</li>
                <li>Six</li>
                <li>Seven</li>
                <li>Eight</li>
                <li>Nine</li>
                <li>Ten</li>
            </ol>
        </div>
        

        <nav>
            <ul>
                <li><a href="./signIn">Play Again</a></li>
                <li><a href="#">Sign in/out</a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
    
            <!-- A Search form is another common non-linear way to navigate through a website. -->
    
        </nav>

        <footer>
            <p>©Copyright 2050 by nobody. All rights reversed.</p>
        </footer>
    </body>
</html>