body {
    background-color: #f8f9fa;
    background-image: url(housePic3.png);
    background-size: 100%;
    /* Light gray background */
}

.container {
    max-width: 800px;
    /* Limit the width of the leaderboard */
    margin: 0 auto;
    padding-top: 20px;
}

.jumbotron {
    background-color: #ee4141;
    /* White background */
    border-radius: 10px;
    /* Rounded corners */
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
    font-family: monospace;
    color: antiquewhite;
}

.jumbotron h1 {
    text-align: center;
}

.row {
    margin-top: 30px;
}

.col-md-6 {
    margin-bottom: 20px;
}

ol {
    list-style: none;
    /* Remove default list style */
    padding-left: 0;
    /* Remove left padding */
}


hr {
    border-color: #ddd;
    /* Light gray border */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
    h3 {
        font-size: 30px;
        color: black;
    }

    ol li {
        margin-bottom: 10px;
        font-size: 18px;
    }

    .image-container {
        height: 700px;
    }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
    h3 {
        font-size: 10px;
        color: black;
    }

    h2 {
        font-size: 20px;
    }

    ol li {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .image-container {
        /* height: 490px; */
    }

}