body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("background5.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.rules,
.info,
.estimate {
    color: white;
    font-family: monospace;
    position: relative;
    z-index: 1;
}