body {
    background-image: url("playBackground2.jpg");
    background-size: 100%;
    background-position: 50%;
}


.rules {
    color:coral;
    font-family: monospace;
}

.info {
    color:antiquewhite;
    font-family: monospace;
}

.estimate {
    color:antiquewhite;
    font-family: monospace;
}